/*styles.css*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
}

header {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    padding: 1rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

h4 {
    color: #333; /* Dark grey for headings */
    margin-top: 1rem;
    font-size: 1.2rem;
}

#controls {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between controls */
    margin-top: 0.5rem; /* Reduced margin-top to bring it closer to the heading */
}

input[type="text"], input[type="button"] {
    margin: 0; /* Remove margin to keep elements close */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; /* Light grey border */
    font-size: 1rem;
}

input[type="button"] {
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #555; /* Slightly lighter dark background on hover */
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2); /* Subtle shadow */
}

#response-container {
    margin-top: 1rem;
    padding: 10px;
    background-color: #fff; /* White background */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    max-height: 200px;
    overflow-y: auto;
}

#info-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
  }

